[submodule "vendor/apache-commons-compress"]
	path = vendor/apache-commons-compress
	url = http://git.apache.org/commons-compress.git
[submodule "vendor/apache-commons-jcs"]
	path = vendor/apache-commons-jcs
	url = git://git.apache.org/commons-jcs.git
[submodule "vendor/apache-commons-logging"]
	path = vendor/apache-commons-logging
	url = git://git.apache.org/commons-logging.git
[submodule "vendor/apache-commons-validator"]
	path = vendor/apache-commons-validator
	url = git@github.com:floscher/commons-validator.git
[submodule "vendor/jmapviewer"]
	path = vendor/jmapviewer
	url = git@github.com:floscher/jmapviewer.git
[submodule "vendor/oauth-signpost"]
	path = vendor/oauth-signpost
	url = git@github.com:floscher/signpost.git
[submodule "vendor/osm-map-icons"]
	path = vendor/osm-map-icons
	url = git@github.com:openstreetmap/map-icons.git
[submodule "vendor/stdutils"]
	path = vendor/stdutils
	url = git@github.com:lordmulder/stdutils.git
[submodule "vendor/xz-java"]
	path = vendor/xz-java
	url = http://git.tukaani.org/xz-java.git
